.intro-main {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-container {
    display: flex;
    flex-direction: column-reverse;
  }

.intro-text {
  line-height: 1px;
  font-family: "Poppins", sans-serif;
  color: white;
}

.p {
  display: flex;
  justify-content: center;
}

.text-1 {
  font-size: 30px;
  margin-bottom: -20px;
}

.text-2 {
  font-size: 50px;
}

.text-3 {
  font-size: 20px;
  margin-top: -20px;
  line-height: 1px;
}

.intro-image {
  margin-left: 30px;
  display: flex;
align-self: center;
}

.muanya {
  height: 150px;
  object-fit: contain;
  border-radius: 50%;
}

.button-container {
    position: absolute;
    bottom: 0;
    margin-bottom: calc(100vh - 90vh);
}

.portfolio-button {
    color: white !important;
    background-color: #796b63 !important;
    text-transform: inherit !important;
    border: none !important;
    font-weight: 900 !important;
}

.portfolio-link {
    color:white !important;
    text-decoration: none;
}




@media screen and (max-width: 850px) {
  .intro-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .intro-image {
    display: flex;
    align-self: center;
  }

  .text-1 {
    font-size: 20px;
    margin-bottom: -20px;
  }

  .text-2 {
    font-size: 40px;
  }

  .text-3 {
    font-size: 15px;
    line-height: 1px;
  }

  .button-container {
    margin-bottom: calc(10vh);
    }
}

@media screen and (max-width: 550px) {
    .text-1 {
        font-size: 20px;
        margin-bottom: -20px;
      }
    
      .text-2 {
        font-size: 28px;
      }
    
      .text-3 {
        font-size: 14px;
        line-height: 1px;
        margin-top: -10px;
      }
}


@media screen and (max-width: 370px) {
    .text-2 {
        font-size: 25px;
      }
    
}